{
  "presets": [
    ["env", {
      "modules": false
    }],
    "stage-2"
  ],
  "plugins": ["transform-runtime"],
  "env": {
    "test": {
      "presets": [
        "stage-2",
        "env": {
          "targets": { "node": 8 }
        }
      ]
    }
  }
}
